<a href="https://colab.research.google.com/github/19PA1A0488/LinearRegression/blob/master/multivariate%20LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [0]:
marks=pd.read_csv("students_placement_data.csv")
marks.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [0]:
marks.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
marks=marks.fillna(method="ffill")

In [0]:
marks.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
x = marks[['SSC Percentage','inter_Diploma_percentage']].values
y = marks['B.Tech_percentage'].values

In [0]:
x.shape

(117, 2)

In [0]:
y.shape

(117,)

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
model = LinearRegression()  
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
model.intercept_

-8.937571546426739

In [0]:
model.coef_

array([0.13815068, 0.74767901])

In [0]:
a=model.predict(X_test) 
a

array([59.48428235, 74.39237133, 47.70510932, 62.29059186, 62.07269608,
       38.58534424, 63.65735244, 61.03401875, 64.21328587, 69.64778895,
       69.47400295, 51.16069667, 72.0755656 , 68.16310069, 64.41857474,
       58.94306477, 61.57127722, 62.5781799 , 71.03915168, 63.13088105,
       66.63425342, 52.64568922, 69.41448084, 72.10369535])

In [0]:
b=pd.DataFrame({'predicted':a.flatten(), 'Actual':y_test.flatten()})
b.head()

   predicted  Actual
0  59.484282   71.49
1  74.392371   81.10
2  47.705109   62.98
3  62.290592   68.70
4  62.072696   61.02